﻿@model TurnerBroadcastingSystem.Models.SearchMovies

@{
    ViewBag.Title = "GetDetails";
}

<h2>Turner Broadcasting System</h2>

@if (Model.MovieDetailsList.Count == 0)
{
    <fieldset>
        No Details Found
    </fieldset>
}
else
{
    <fieldset>
        <legend>Movie Details</legend>
        <br />
        <div class="display-field">
            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.Title) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].TitleName)
            </div>

        </div>

        <br />
        <div class="display-field">
            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].ReleaseYear) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].ReleaseYear)
            </div>

        </div>
        @*<br />
            <div class="display-field">
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].ArtistName) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].ArtistName)
                </div>

            </div>*@
        <br />
        <div class="display-field">
            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].Language) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].Language)
            </div>

        </div>

        @if (Model.MovieDetailsList[0].AwardWon)
        {
            <br />
            <div class="display-field">
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].AwardWon) :</b> Yes
                </div>

            </div>
            <br />
            <div class="display-field">
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].AwardYear) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].AwardYear)
                </div>

            </div>
            <br />
            <div class="display-field">
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].Award) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].Award)
                </div>

            </div>
            <br />
            <div class="display-field">
                <div class="display-label">
                    <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].AwardCompany) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].AwardCompany)
                </div>

            </div>
        }

        <br />
        <div class="display-field">
            <div class="display-label">
                <b>@Html.DisplayNameFor(model => model.MovieDetailsList[0].Description) :</b> @Html.DisplayFor(model => model.MovieDetailsList[0].Description)
            </div>

        </div>
    </fieldset>
}


<p>
    
    @Html.ActionLink("Back to Serach Page", "Index")
</p>
