﻿@model TurnerBroadcastingSystem.Models.SearchMovies

@{
    ViewBag.Title = "Index";
}

<h2>Turner Broadcasting System</h2>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Search Movies</legend>
        <br />
        <div class="editor-label">
                @Html.LabelFor(model => model.Title) : @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        
        <div class="editor-field">

        </div>

        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

<div>

    @if (Model != null)
    {
        if (Model.MoviesList != null)
        {
            Html.RenderPartial("MoviesList", Model);
        }
    }

   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
