﻿@*@model IEnumerable<TurnerBroadcastingSystem.Models.SearchMovies>*@
@model TurnerBroadcastingSystem.Models.SearchMovies

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@if (Model.MoviesList.Count == 0)
{
    <fieldset>
        No Records Found
    </fieldset>
}
else
{
    <fieldset>
        <legend>Movie Titles</legend>

        <table>

            @foreach (var movie in Model.MoviesList)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => titles)
                        </td>*@
                    <td>
                       
                        @Html.ActionLink(movie, "GetDetails", "Home", new {title= movie },null)
                    </td>
                </tr>
            }

        </table>
    </fieldset>
}
